<h2>Post</h2>
<div *ngIf="post">
  <p>
    {{ post.title }}
  </p>
  <p>
    {{ post.body }}
  </p>
</div>
<div *ngIf="comments">
  <h3>Comments</h3>
  <div *ngFor="let c of comments">
    <a [routerLink]="['/u', c.userId]">
      <p>{{ user(c.userId).username | lowercase }}</p>
    </a>
    <p>{{ c.body }}</p>
  </div>
</div>
