<div>
  <h2>{{ user.username }}</h2>
  <p>{{ user.name }}</p>
  <p>{{ user.email }}</p>
  <p>{{ user.website }}</p>
</div>
<div>
  <h2>Posts</h2>
  <p *ngFor="let post of posts">
    <a [routerLink]="['/p', post.id]">
      {{ post.title }}
    </a>
  </p>
</div>
